

//mobile

@mixin mediaMb{

    
        .menu{
            display:none;
        }




    @media screen and(max-width:500px){
        body{
            background-color: red;
        }
        .menu{
            display: none;
            c
    }
    
};
     
