

//mobile

@mixin mediaMb{
    @media screen and(max-width:500px){
        body{
            background-color: red;
        }
        .menu{
            display: none;
            color:red;
        }
    }
    
};
     
