////Buttons color
$btnColor:#eeebe8;
$menuColor:#e7d9b7;



////Mixin 

@mixin btn {
    margin-left:18%;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    
};

@mixin flexCenter{
    display:flex;
    justify-content:center;
    align-items:center;
};

@mixin quantity {
    margin-left:20%;
    width:20%;
    height: 22px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 17px;
  
};

@mixin hover{
    &:hover{
        border:1px solid rgba(177, 177, 177 , 0.5);
        cursor: pointer;
    }
}


////////////////////////////////////////////

body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    top:0;
    margin:0;
   
};


h1{
    margin-left:15%;
   
}
#container{
    margin:auto;
    width: 1000px;
    height: auto;
    display:grid;
  
 
.sticky{ 
    position:sticky;
    top:0;
    
}  

.header{

background-color:#fff;
display:grid;
grid-template-areas:  "logo log1 log2  basket" ;
grid-template-columns: auto auto 130px  500px;
width: 1000px;
height: 80px;

.logo{
    grid-area: logo;
}


   
.log1{
        color:black;
        font-size: 20px;
        grid-area: log1;
        align-items: center;
        &:hover{
            cursor: pointer;
        }
        #icon{
            margin-left:-2px;
           padding:5px;

        }
        
        
    }
.log2{
        color:black;
        font-size: 20px;
        grid-area: log2;
        &:hover{
            cursor: pointer;
        }
        #icon{
            margin-left:-2px;
           padding:5px;

        }
    
    }  
};  


.basket{
        grid-area: basket;
        height: auto;
        color: black; 
        z-index:3;

       
       

        .containerB{
            margin-top:48px;
        }

        #icon{
            margin-left:-2px;
            padding:5px;
            
           

        }

        .priceTo{
            display: inline;
            margin-left:100px;
            font-size: 20px;
            color:black;
            font-weight: bold;
           
            
         
        }

        .num{
            display: inline;
           margin-left:100px;
           font-size:22px;
           font-weight: bold;
        }
        
        
       
}     
       

.basketName{
    margin:0 0 0 60px;
    font-size:20px;
    list-style-type: none;

    &:hover{
        cursor: pointer;
        
        .list{
            background-color:red;
            display:block;
        }
    }
   

}        


      

#basketContainer{
  
    background-color: #fff;
    list-style-type: none;

 
  


.list{
    margin-top:35px;
    display:none;
   

    }
    
  

    




.border{
    background-color: grey;
    width:auto;
    height: 30px;
  //  display:none;
  .btnBorder{
      margin-top:4px;
  }
}        

.marginBottom{
    
    border:2px solid black;   
    padding: 10px;  
    background-color: rgb(122, 85, 85);
    
} 

       
.l1{
    list-style-type: none;
    cursor: pointer;
    display:none;

    
    


.img{
    margin:10px 0 0 -35px;

};

.described{
    display: inline-block;
    color:black;
    margin-top:60px;
    position: relative;
    top: -45px;
}



    .productPrice{
        display: inline-block;
        color:red;
        position: relative;
        top: -45px;
       
        .quant{
          
            display:inline-block;
            font-weight: bold;
        }
        .quantPrice{
           
            font-weight: bold;
            display:inline-block;
        }
        
   
 

    #btnDelate1{
     
        display:inline-block;
    }
    
}   
}   

.l2{
    @extend .l1;
}

.l3{
    @extend .l1;
}

.l4{
    @extend .l1;
}
     
.l5{
    @extend .l1;
}
     
.l6{
    @extend .l1;
}
     
.l7{
    @extend .l1;
}
           
.l8{
    @extend .l1;
}
            
.l9{
    @extend .l1;
}
.l10{
    @extend .l1;
}
.l11{
    @extend .l1;
}
.l12{
    @extend .l1;
}
.l13{
    @extend .l1;
}
.l14{
    @extend .l1;
}
.l15{
    @extend .l1;
}
                                      
}}





.popup{
    position: fixed;
    width: 100%;
	height: 100%;
    background-color: rgba($color: #7a7979, $alpha: 0.8);
    display:none;



.popupContainer{
    
   
    margin:300px 0 0 130px;
    position: absolute;
    border-top: solid 20px black;
    gap:10px;
    display: grid;
    background-color:rgb(189, 184, 184);
    border:solid 3px rgb(230, 217, 217);
    grid-template-rows: 40px  ;
    grid-template-columns: 450px 0px auto ;
    grid-template-areas: " mainTop mainTop mainTop mainTop  "
                         "li . totalDecribe totalDecribe"
                         ". . totalBasket totalBasketPrice"
                         "btnContinue . .  btnOrder ";
    
    
    
    


.totalDecribe{
    grid-area:totalDecribe;
    display:grid;
    border-left:solid 0.5px black;
    grid-template-areas: 10px 0px ;
    
    grid-template-areas: "productIntager intager"
    "totalBasket totalBasketPrice";

    .productIntager{
        grid-area:productIntager;
        margin-top: 50px;
        font-size:21px;
        margin-left:10px;
       
    
    }

    .intager{
        grid-area: intager;
        margin-top: 50px;
        font-size:21px;
       
    }

    .totalBasket{
        grid-area: totalBasket;
        margin-top:10px;
        margin-left:10px;
        font-size:21px;

        
    
    
        }
    
    .totalBasketPrice{
        grid-area: totalBasketPrice;
        margin-top:10px;
        font-size:21px;
        }  


};

.mainTop{
    background-color: rgb(107, 10, 10);
    grid-area:mainTop;
    display:grid;
    grid-template-areas: "marginTop btnClose";

    #btnClose{
        grid-area: btnClose;
        height: 20px;
        width:80px;
        color:rgb(209, 204, 204);
        background-color: black;
        margin:10px 0 0 450px;
        margin-right: 10px;
        
    }
    
    .marginTop{
        grid-area:marginTop;
        height: 20px;
        width:110%;
        font-size: 18px;
        padding: 5px;
        
        color:rgb(209, 204, 204);
        

    }}



.li{
        grid-area: li;
        margin-left: 25px;
      
        
        list-style-type: none;
        .quantity{
            display:none;
        }
        #btn1{
            display:none;
        }
        .productDescribed{
            display:none;
        }
        .img{
            width:25%;
            height: 25%;
            margin:10px 0 0 30px;
        }
        h1{
            font-size: 18px;
            margin:0 0 0 50px;
        }
    }

#btnContinue{
        grid-area: btnContinue;
        margin-bottom:15px;
        margin-left:55px;
        width:30%;
        height: 75%;
       
        
};
     
    
#btnOrder{
        grid-area:btnOrder;
        margin-bottom:15px;
        width:65%;
        height: 75%;

    }    

};

};






.menu{

    background-color: $menuColor;
    
  
    list-style-type: none;
    li{
        display:inline-flex;
        margin:20px;
        font-size: 18px;
        
        height: 30px;
        &:hover{
            cursor: pointer;
            color: lighten($menuColor, 9);
        }
       
    }
}


   

.mainContent{
   gap:5px;
   width:1000px;
   height: auto; 
   display:grid;
   grid-template-columns: 170px   auto ;
   grid-template-areas: "cafeGenres main";
                        
                   
.cafeGenres{

    grid-area: cafeGenres;
    background-color: $menuColor;
    margin-top:20px;
   
    ul{
       
       list-style-type: none;
        line-height: 70px;
        font-size: 22px;
        margin-top: 50px;
        

        li{
            font-weight: 400;
            margin-left:0;
            &:hover{
                cursor: pointer;
            color: lighten($menuColor, 9);
            }
        }      
    }
    };
}
.main{
   
    gap:20px;
    margin-top:20px;
    display:grid;
    background-color:  #fff;
    grid-template-columns: auto auto auto;
    grid-template-areas: "product1 product2 product3"
                         "product4 product5 product6" 
                         "product7 product8 product9" 
                         "product10 product11 product12" 
                         "product13 product14 product15" ;
   

  


.product1{
   
    grid-area: product1;
    border:1px solid rgba(177, 177, 177 , 0.2);
    
    
    @include hover();
    
   

    #quantity1{
       @include quantity();
       @include flexCenter();
    }
    
    #btn1{
        @include btn();
        margin-bottom: 10px;
        
        

    };

    .productDescribed{
       margin-left:10%;
       margin-top:5px;
    }
    
    
     
 }    
  
.product2{
   
     grid-area: product2;
     border:1px solid rgba(177, 177, 177 , 0.2);
     
     
    @include hover();
            
     
       

     .name{
         display:none;
     }

    
   
     #quantity2{
        @include quantity();
        @include flexCenter();
     }
     
     #btn2{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
     
    
     
      
}   
.product3{
    
    grid-area: product3;
    border:1px solid rgba(177, 177, 177 , 0.2);
    @include hover();
    
     #quantity3{
        @include quantity();
        @include flexCenter();
     }
     
     #btn3{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
}     
.product4{
    
     grid-area: product4;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

     #quantity4{
        @include quantity();
        @include flexCenter();
     }
     
     #btn4{
         @include btn();
         margin-bottom: 10px;
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
}     

.product5{
    
    grid-area: product5;
    border:1px solid rgba(177, 177, 177 , 0.2);
    @include hover();
    
   

     #quantity5{
        @include quantity();
        @include flexCenter();
     }
     
     #btn5{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  }   
.product6{
    
    grid-area: product6;
    border:1px solid rgba(177, 177, 177 , 0.2);
    @include hover();
     
   

     #quantity6{
        @include quantity();
        @include flexCenter();
     }
     
     #btn6{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  }  
  
.product7{
   
     grid-area: product7;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

     
     #quantity7{
        @include quantity();
        @include flexCenter();
     }
     
     #btn7{
         @include btn();
         margin-bottom: 10px;
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  }   
  
.product8{
   
     grid-area: product8;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

    
     #quantity8{
        @include quantity();
        @include flexCenter();
     }
     
     #btn8{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  }  
.product9{
    
     grid-area: product9;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

     
     #quantity9{
        @include quantity();
        @include flexCenter();
     }
     
     #btn9{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  }     
  
.product10{
    
     grid-area: product10;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();


     #quantity10{
        @include quantity();
        @include flexCenter();
     }
     
     #btn10{
         @include btn();
         margin-bottom: 10px;
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  } 
  
.product11{
    
     grid-area: product11;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();


     #quantity11{
        @include quantity();
        @include flexCenter();
     }
     
     #btn11{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  };

.product12{
   
     grid-area: product12;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

     #quantity12{
        @include quantity();
        @include flexCenter();
     }
     
     #btn12{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  };
  
.product13{
    
     grid-area: product13;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

     #quantity13{
        @include quantity();
        @include flexCenter();
     }
     
     #btn13{
         @include btn();
         margin-bottom: 10px;
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  };
  
.product14{
    
     grid-area: product14;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

     #quantity14{
        @include quantity();
        @include flexCenter();
     }
     
     #btn14{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  };
  
.product15{
    
     grid-area: product15;
     border:1px solid rgba(177, 177, 177 , 0.2);
     @include hover();

     #quantity15{
        @include quantity();
        @include flexCenter();
     }
     
     #btn15{
         @include btn();
         
 
     };
 
     .productDescribed{
        margin-left:10%;
        margin-top:5px;
     }
      
  };  
  
  

};



#footer{
    background-color: rgba(122, 106, 106, 0.7);
    display:grid;
    grid-template-areas:"groupe1 groupe2 groupe3";
    grid-template-rows: auto auto auto;
    margin-top:30px;

.groupe1{
    grid-area:groupe1;
    list-style-type: none;
    line-height: 25px;
    li{
        &:hover{
            cursor: pointer;
            color:rgb(82, 79, 79);
            
        }

    }
   
} 

.groupe2{
    grid-area:groupe2;
    list-style-type: none;
    line-height: 25px;
   
    li{
        &:hover{
            cursor: pointer;
            color:rgb(82, 79, 79);
            
        }

    }
} 


.groupe3{
    grid-area:groupe3;
    list-style-type: none;
    line-height: 25px;
    
    li{
        &:hover{
            cursor: pointer;
            color:rgb(82, 79, 79);
            
        }

    }
} 

};



.parentDisable{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    z-index: 998;
    height: 100%;
    width: 100%;
};

#popup{
    position: absolute;
    z-index: 999;
    font-size: 30px;
    color:red

};
